*{
    margin:0;
    padding:0;
}
.todo_app{
    width:960px;
    height: 100vh;
    margin: 0 auto;
    background: rgb(222, 238, 228);
}
.new_todo{
    text-align:center;
    background:rgb(194, 233, 194);
}
.form{
    background-color:rgb(207, 235, 207);
    padding:10px 0 20px;
}
.form div{
    margin-bottom:10px;
}
.new_todo h1{
    font-size: 3rem;
    padding:10px 0;
}
.todos{
    background-color:rgb(245, 202, 202);
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
.todo{
    box-sizing:border-box;
    flex-basis:46%;
    background:white;
    margin:10px 2% 10px;
    padding:20px 25px;
    border-radius:5px;
    display:flex;
}
.todo_title{
    flex-basis:90%;
}
.todo_btn{
    flex-basis:10%;
}