*{
    margin: 0;
    padding: 0;
}
.counter{
    background-color: bisque;
    margin:20px auto 20px;
    width: 600px;
}
.title{
    text-align: center;
    font-size: 2rem;
    padding: 10px 0 0;
}
.count{
    text-align: center;
    font-size: 3rem;
    padding: 0 0 20px;
}
.btn_div{
    text-align: center;
}
.btn{
    padding:7px 16px;
    margin: 0px 5px 15px;
    background-color:rgb(151, 224, 226);
    text-align: center;
}