*{
    margin:0px;
    padding:0px;
}
.todoHeading{
    background-color:palegreen;
    color:blueviolet;
    text-align:center;
    padding:25px 10px 30px;
    margin:10px;
    font-size:3rem;
}
.Card{
    background-color: rgb(245, 197, 139);
    padding:15px;
    margin:10px;
    width:404px;
    box-shadow:2px 2px 5px grey;
    display:inline-block;
}
.cardTitle{
    text-align:center;
    margin-bottom:7px;
}
.cardDes{
    text-align: justify;
    margin-bottom:5px;
}
.cardTime{
    text-align: right;
    font-weight:bold;
}