*{
    margin:0px;
    padding:0px;
}
.li_div{
    margin: 10px auto;
    max-width: 960px;
    border:2px solid black;
}
.li_header{
    background-color:#ADD8E6;
    color:#800080;
    text-align:center;
    padding:30px 25px;
    font-size: 3rem;
}
.li_cards{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin:15px;
}
.li_card{
    background-color: #cbf0f0;
    padding:35px;
    box-shadow: 2px 2px 4px rgb(112, 109, 109);
}
.lang{
    margin-top:7px;
}
.btn{
    padding:7px 12px;
    margin:7px 7px 0 0;
    border:0px solid #000;
    border-radius:5px;
    float:right;
    font-weight: bold;
    font-size:16px;
    background-color:#75eea7;
    transition:0.5s;
}
.btn:hover{
    background-color: aqua;
    color: rgb(235, 116, 116);
}